body {
    background-color: rgb(15, 15, 15);
    margin: 0;
}
#box {
    width: 600px;
    background-color: rgb(39, 39, 39);

    color: white;
    font-family: arial;
    padding: 20px;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}
button {
    font-size: 20px;
    padding: 10px;
}