body {
    font-family: arial;
    margin: 20px;
    padding: 0;
    background-color: rgb(24, 24, 24);
    text-shadow: 0px 0px 4px #000000;
}
body:after { /*Laster inn bilder*/
    position:absolute; z-index:-1;
    content: url('img/eple.jpg') 
             url('img/pære.jpg') 
             url('img/banan.jpg');
}

div.Box {
    background-color: green;
    max-width: 350px;
    text-align: center;
    font-size: large;
    padding: 10px;
    color: white;
    margin: 0;
    user-select: none;
}
#div.Box:hover {
    cursor: pointer;
}
#container div {
    background-color: rgb(46, 46, 46);
    color: white;
    max-width: 350px;
    margin: 0;
    padding: 10px;
}
ul li ul li {
    color: rgb(219, 219, 219);
}
#bilde {
    display: flex;
    justify-content: center;
}
#bilde button {
    background-color: rgb(121, 121, 121);
    border: 0;
    color: white;
    border: 0;
}
#bilde button:hover {
    cursor: pointer;
}
#bilde img {
    width: 150px;
    height: 150px;
}